/* section.pupils-container {
    display: flex;

} */

div#display-players {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.school > div {
    background-color: olive;
    min-height: 10px;
    margin-bottom: 48px;
}

div.card {
    margin: 30px;
}